.App {
  position:relative;
  width:100%;
  height:350px;
}

.kakaoMap {
  width: 96vw;
  height: 90.5vh;
  position: 'relative';
  overflow: 'hidden';
  float: right;
}

.hAddr {
  position:fixed;
  left:260px;
  top:80px;
  border-radius: 2px;
  background:rgba(0,0,0,0.8);
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  z-index:1;
  padding:5px;
  transition: 0.5s;
}

.infoTitle {
  font-size: 20px;
  margin:5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
}

th, td {
  border: 1px solid#ffffff;
}

th {
  background-color: #303030;
  color: white;
}

td {
  background-color: #6e6e6e;
  color: white;
}

#centerAddr {
  display:block;
  margin-top:2px;
  font-weight: normal;
}

.header{
  z-index: 1;
  background: #22242A;
  padding: 20px;
  width: auto;
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #f59b25;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.sidebar{
  z-index: 2;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

#check{
  display: none;
}

#check:checked ~ .hAddr{
  left: 80px;
}

.App {
  width: 100%;
  height: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  border-color: springgreen;
  border-style: solid;
  border-width: 10px;
  display: inline-block;
  background: black;
  color: springgreen;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: 3rem;
  opacity: 0.7;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 40rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
  box-shadow:  5px 5px greenyellow;

}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;

}

.h-400 {
  height: 400px;

}

.m-v-25{
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-h-20 {
  padding-left: 40px;
  padding-right: 40px;
}

.p-x-20 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-auto { 
  margin: auto;
}

.w-max-1380{
  max-width: 1380px;
}

.w-max-700{
  max-width: 700px;
}

.w-max-950{
  max-width: 950px;
}

.w-full {
  width: 100%;
}

.h-max-1380 {
  max-height: 1380px;
}

.h-full {
  height: 100%;
}


.alldiv {
  width: 565px;
  height: 330px;
  position: relative;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.f1-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.f1-wrap {
  flex-wrap: wrap;
}

.txt-center{
  text-align: center;
}

.fnt-24 {
  font-size: 24px;
  line-height: 34px;
}

.dark-green {
  color: #116149;
}

.mapjpeg {
  background-image: url('./images/map.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tensorflowjpeg {
  background-image: url('./images/tensorflow.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: solid;
  border-color: springgreen;
  border-radius: 2rem;
}

.sensorjpeg {
  background-image: url('./images/sensor.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: solid;
  border-color: springgreen;
  border-radius: 2rem;
}

.Kakaomapjpeg {
  background-image: url('./images/kakao.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: solid;
  border-color: springgreen;
  border-radius: 2rem;
}



.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: grey;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5rem;
}

.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/beach.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.roomsHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}


.tile{
  font-size: 1.5rem;
  color: springgreen;
  font-style: italic;

}



.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}



.intro-span {
  display: inline-block;

  border-style: solid;
  border-color: springgreen;
  border-radius: 15px;
}

.intro-h2{
  font-size: 1.5rem;
  color: springgreen;
  font-style: italic;

}

.intro-li{
  margin: 1.5rem;
  font-weight: 600;
}




.services {
  padding: 5rem 0;
}
.services {
  background: darkgrey;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-style: solid;
  border-top-color: black;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

.IMGMIN {
  position: relative;
  z-index: 30;
  width: 390px;
  height: 116px;
  background-color: #258fff;
}

.info {
  overflow: hidden;
  position: relative;
  z-index: 25;
  width: 390px;
  background-color: brown;
  height: 719px;
}

.molang {
  background-color:salmon;
  overflow: hidden;
  position: relative;
  z-index: 20;
  width: 390px;
  clear: both;
  height: 100px;
  float: left;
  height: 132px;

}

.mapdiv {
  float: left;
  width: 1241px;
  height: 969px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 390px;
  right: 0;
  z-index: 0;
}

.Header {
  position: relative;
  height: 94px;
  padding: 5px 20px 2px;
  color: #fff;
  margin: 0;
}

.Title {
  width: 95px;
  height: 10px;
  padding: 5px 0 0px 36px;
}

.local {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 22px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background: url("./images/lifemeter.jpeg");
  background-size: 100%;
  border-radius: 5px;
}

.bt_menu {
  background: url("./images/ico_menu.jpeg");
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 27px;
  z-index: 10;
  width: 22px;
  height: 22px;
  font-size: 0;
  line-height: 0;

}

.KeywordSearch {
  position: relative;
  z-index: 999;
}

.fid_inside {
  position: relative;
  height: 30px;
}

.Search {
  position: relative;
}

.screen_out {
  overflow: hdden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;  
}

.box_searchbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 46px;
  border-radius: 3px;
  background-color: white;
}

.tf_keyword {
  float: left;
  width: 277px;
  height: 19px;
  padding: 12px 16px 15px;
  border: 0 none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  outline: 0;
  background: url("./images/ico_search.jpeg");
  background-position: -80px -120px;
}

.ico_search{
  vertical-align: middle;
  padding: 0;
  float: left;
  width: 36px;
  height: 36px;
  margin: 5px 0;
  border: 0 none;
  font-size: 0;
  line-height: 0;
  background: url("./images/ico_search.jpeg") no-repeat;
  background-position: 0 -120px;
  text-indent: -9999px;
  cursor: pointer;
  overflow: hidden;
}

.decoration1 {
  position: absolute;
  float: left;
  width: 150px;
  height: 150px;
  bottom: -550px;
  left: 200px;
  background-color: green;
  opacity: 0.5;
  z-index: 10;
}

.decoration2 {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  bottom: -420px;
  left: 180px;
  background-color: greenyellow;
  opacity: 0.5;
  z-index: 100;
}


.decoration3 {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  bottom: -380px;
  left: 125px;
  background-color: green;
  opacity: 0.8;
}

.decoration4 {
  position: absolute;
  float: left;
  width: 150px;
  height: 150px;
  bottom: -500px;
  left: 95px;
  background-color: forestgreen;
  opacity: 1;
  z-index: -10;
}


.decoration5 {
  position: absolute;
  float: left;
  width: 70px;
  height: 70px;
  bottom: -550px;
  left: 55px;
  background-color: wheat;
  opacity: 0.4;
}

.result {
  position:fixed;
  left:45%;
  top:80px;
  border-radius: 2px;
  background:rgba(0,0,0,0.8);
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  z-index:1;
  padding:5px;
  transition: 0.5s;
}

.loading {
  margin: 0 auto;
  padding: 0;
  position:fixed;
  display: inline-block;
  background-image:  url("./images/loading.gif") ;
  background-size: cover;
  background-position-y: center;
  left:45%;
  top:80px;
  width: 155px;
  height: 50px;
  border-radius: 2px;

  z-index: 5;
  
}
