@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.kakaoMap {
  width: 100%;
  height: 90vh;
  position: 'relative';
  overflow: 'hidden';
  margin-left: auto;
  margin-right: auto;
}

.hAddr {
  position:absolute;
  left:7px;
  top:700px;
  border-radius: 2px;
  background:rgba(233,233,233,0.6);
  font-size: 15px;
  color: black;
  z-index:3;
  padding:1px;
}

.team-section {
  height: 95vh;  
  text-align: center;
  background: #34495e;
  padding: 40px 0;
  font-size: 40px;

}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;

}

.about-border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}

.section p {
  color: white;
  font-size: 25px;
}

.ps {
  margin-bottom: 40px;
}

.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s all;
}

.ps a:hover > img {
  filter: none;
}

.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section:target {
  height: auto;
}

.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

#centerAddr {
  display:block;
  margin-top:2px;
  font-weight: normal;
}

nav {
  background-color: #08548a;
  height: 45px;
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  margin: 8px 40px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  height: 40px;
  width: 70px;
}

.result {
  position:absolute;
  left:90%;
  top:94%;
  border-radius: 2px;
  background-color: rgba(233,233,233,0.6);
  font-size: 20px;
  color: black;
  z-index:1;
  padding:1px;
  transition: 0.2s;
}

.loading {
  position:absolute;
  background-image:  url("./images/loading.gif") ;
  background-size: cover;
  background-position-y: center;
  left:92%;
  top:87%;
  width: 120px;
  height: 80px;
  z-index: 5;
}

.nav_ul_and_li {
  margin-bottom: 0rem;
}

.popup-content {
  background: #fff;
  padding: 20px;
  margin-top: 32%;
  margin-left: 10px;
  border-radius: 5px;
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 3;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.filter {
  width: 300px;
  opacity: .8;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 6px;
}

table {
  width: auto;
  margin: auto;
  text-align: center;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

tr {
  border: 1px solid;
}

p {
  text-align: right;
}

.map_carousel {
  border-style: solid none;
  border-color: gray;
  border-width: 2px;
  text-align: center;
  background-color: #E9E9E9;
}

.map_carousel a {
  border-style: none solid;
  border-color: gray;
  border-width: 1px;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 57px;
  padding-right: 57px;
}

.map_carousel :hover {
  background-color: #3498db;
  color: white;
}

.labels {
  position:absolute;
  font-size: 15px;
  z-index:5;
  padding:1px;
  top: 721px;
  left: 600px;
}

.labels td {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
#labels_good {
  background-color: green;
  color: white;
}

#labels_moderate {
  background-color: #ffe259;
}

#labels_unhealthy {
  background-color: red;
  color: white;
}

#labels_hazardous {
  background-color: #9B0000;
  color: white;
}

.modal_good {
  position: absolute;
  width: 170px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  left: 560px;
  top: 510px;
  z-index: 2;
  border-style: solid;
  border-color: antiquewhite;
  padding: 5px;
  padding-top: 10px;
}

.modal_good b {
  color: #fff;
  font-family: 'Do Hyeon', sans-serif;
  background-color: green;
  border-color: green;
  font-size: 25px;
  width: 100%;
  height: 32px;
  text-align: center;
  vertical-align: auto;
}

.modal_moderate {
  position: absolute;
  width: 170px;
  height: 200px;
  background-color:white;
  border-radius: 5px;
  left: 650px;
  top: 510px;
  z-index: 2;
  border-style: solid;
  border-color: antiquewhite;
  padding: 5px;
  padding-top: 10px;
}

.modal_moderate b {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #ffe259;
  border-color: #ffe259;
  font-size: 25px;
  width: 100%;
  height: 32px;
  text-align: center;
  vertical-align: auto;
}

.modal_unhealthy {
  position: absolute;
  width: 170px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  left: 740px;
  top: 510px;
  z-index: 2;
  border-style: solid;
  border-color: antiquewhite;
  padding: 5px;
  padding-top: 10px;
}

.modal_unhealthy b {
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  background-color: red;
  border-color: red;
  font-size: 25px;
  width: 100%;
  height: 32px;
  text-align: center;
  vertical-align: auto;
}

.modal_hazardous {
  position: absolute;
  width: 170px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  left: 850px;
  top: 510px;
  z-index: 2;
  border-style: solid;
  border-color: antiquewhite;
  padding: 5px;
  padding-top: 10px;
}

.modal_hazardous b {
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  background-color: #9B0000;
  border-color: #9B0000;
  font-size: 25px;
  width: 100%;
  height: 32px;
  text-align: center;
  vertical-align: auto;
}








